header .logo {
    color: inherit; /* Обнуляем стилизацию "a" */
    text-decoration: none; /* Обнуляем стилизацию "a" */
    font-weight: 600;
    font-size: 20px;
    transition: opacity 500ms ease; /* Поведение при наведении с заданным свойством opacity */
    cursor: pointer;
}

header .logo:hover {
    opacity: 0.5; /* При наведении меняем прозрачность наполовину */
}

header ul.nav {
    float: right; /* Прижимаем вправо */
    list-style: none; /* Обнуляем стили ul */
}

header ul.nav li {
    display: inline; /* Помещаем всё в одну строку */
    margin-left: 25px; /* Отступ внешний слева от каждого элемента */
    cursor: pointer; /* Курсор при наведении в руку */
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header {
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

