/*main {*/
/*    display: flex; !* При таком отображении элементы встанут один за другим *!*/
/*    width: 100%;*/
/*    flex-wrap: wrap; !* Элементы могут переходить на новые строки *!*/
/*    justify-content: space-between; !* Как элементы будут расположены *!*/
/*}*/

/*main .product {*/
/*    width: 30%;*/
/*    margin-bottom: 50px;*/
/*    background: #f5f5f5;*/
/*    position: relative;*/
/*    padding-bottom: 20px;*/
/*    overflow: hidden; !* Чтобы при наведении и срабатывании transform картинкан не лезла за поля карточки *!*/
/*}*/

/*main .product img {*/
/*    width: 100%;*/
/*    height: 300px;*/
/*    border-radius: 10px 10px 0 0;*/
/*    transition: transfrom 500ms ease;*/
/*}*/

/*main .product img:hover {*/
/*    transform: scale(1.05); !* При наведении на карточку товара она будет расти *!*/
/*}*/

/*main h2, .product-description, main b {*/
/*    margin: 10px 20px;*/
/*    color: #333;*/
/*}*/

/*main h2 {*/
/*    cursor: pointer;*/
/*}*/

/*.product-price {*/
/*    margin: 10px 20px;*/
/*    color: #5fa36a;*/
/*    font-weight: 600;*/
/*    font-size: 20px;*/
/*}*/

/*main .add-to-cart {*/
/*    position: absolute;*/
/*    right: 20px;*/
/*    bottom: 20px;*/
/*    background: #ca5252;*/
/*    width: 70px;*/
/*    height: 35px;*/
/*    text-align: center; !* текст по центру горизонтально *!*/
/*    line-height: 35px;  !* текс по центру вертикально *!*/
/*    color: #fff;*/
/*    border-radius: 10px;*/
/*    cursor: pointer;*/
/*    transition: transfrom 500ms ease;*/
/*}*/

/*main .add-to-cart:hover {*/
/*    transform: scale(1.05);*/
/*}*/

/*https://codelab.pro/sozdaem-kartochki-tovarov-na-html-i-css/*/

.wrapper {
    width: 1280px;
    margin: 50px auto; /* Отступы верх, бока */
}

.cards {
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 250px);
    width: 100%;
    max-width: 1200px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 50px; /* Отступ между колонками */
    row-gap: 40px; /* Отступ между рядами */
    margin: 0 auto;
}

.card {
    width: 250px;
    min-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top {
    flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
}

.card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
}

.card__image:hover > img {
    transform: scale(1.1);
}

.card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    padding: 10px;
}

.card__prices {
    display: flex;
    margin-bottom: 15px;
}

.card__price::after {
    content: "₽";
    margin-left: 4px;
    position: relative;
}

.card__price {
    font-weight: 600;
    font-size: 18px;
    color: black;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.card__title {
    display: block;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #414141;
    cursor: pointer;
}

.card__title:hover {
    color: #808080;
}

.card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #70c05b;
    padding: 10px;
    text-align: center;
    border: 1px solid #70c05b;
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    transition: 0.2s;
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
}

.card__add:hover {
    border: 1px solid #808080;
    background-color: #808080;
    color: #fff;
}