.categories {
    display: flex;
}

.category {
    margin-right: 20px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    padding: 10px;
    border: 1px grey solid;
    border-radius: 15px;
}